
.signn {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.formm {
    width: 40%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.formm 



form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
}